<% TELA = 'Turma ' + turma[0].TUR_ID %>
<% process.env.APP_CRUD = 'D' %>
<% include ../cabeca.ejs %>

	<div class="container">
		<% if(validacao.length > 0) { %>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<strong>Atenção!</strong>
						<ul>
							<% for(var i = 0; i < validacao.length; i++) { %>
								<li><%= validacao[i].msg %></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
		<% } %>
		<div class="row">
			<div class="col-md-12">
				<div class="Stl_wrapper">
					<form
					<% if(process.env.APP_CRUD === 'R' || process.env.APP_CRUD === 'C') {%>
						action="/turma/salvar"
					<% } else if(process.env.APP_CRUD == 'D') {%>
						action="/turma/deleta"
					<% } %>	
					method="POST">


					<!--<form action="/turma/salvar" method="POST">-->
						<div class="row">
							<div class="form-group col-md-4">
								<label for="name">Id: </label>
								<input type="number" 
								class="form-control"
								readonly
								id="TUR_ID" 
								name="TUR_ID"
								value="<%=turma[0].TUR_ID%>">
							</div>
						</div>	
						<div class="row">
								<div class="form-group col-md-4">
								<label for="name">Ano: </label>
								<input type="number" 
								class="form-control"
								id="TUR_ANO" 
								name="TUR_ANO"
								step=1
								min=1 
								max=2999
								<% if(process.env.APP_CRUD === 'R' || process.env.APP_CRUD === 'D') {%>
									readonly
								<% } else if(process.env.APP_CRUD === 'C' || process.env.APP_CRUD === 'U') {%>
									requerid
								<% } %>	
								value="<%=turma[0].TUR_ANO%>">
							</div>
							<div class="form-group col-md-4">
								<label for="name">Valor</label>
								<input type="number" 
								class="form-control"
								id="TUR_SERIE" 
								name="TUR_SERIE"
								step=1
								min=10 
								max=23
								<% if(process.env.APP_CRUD === 'R' || process.env.APP_CRUD === 'D') {%>
									readonly
								<% } else if(process.env.APP_CRUD === 'C' || process.env.APP_CRUD === 'U') {%>
									requerid
								<% } %>	
								value="<%=turma[0].TUR_SERIE%>">
							</div>
							<div class="form-group col-md-4">
								<label for="name">Letra: </label>
								<input type="text" 
								class="form-control"
								id="TUR_LETRA"
								name="TUR_LETRA"
								<% if(process.env.APP_CRUD === 'R' || process.env.APP_CRUD === 'D') {%>
									readonly
								<% } else if(process.env.APP_CRUD === 'C' || process.env.APP_CRUD === 'U') {%>
									requerid
								<% } %>	
								value="<%=turma[0].TUR_LETRA%>"
								>
							</div>		
						</div>
						<button type="submit" class="btn btn-default">Cadastrar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

<% include ../rodape.ejs %>
