<% TELA= 'Lista de Turmas' %>
<% process.env.APP_CRUD = ' ' %>
<% include ../cabeca.ejs %>

	<div class="container">
		<!--button type="submit" class="btn btn-default">Cadastrar</button-->
		<div class="btn btn-default">
			<a href="turma?id_turma=0&vvYpy=C" class="btn btn-primary active">
				<i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Save
			</a>
		</div>
		<% if(turmas.length > 0) { %>
			<% for(var i = 0; i < turmas.length; i++) {%>
				<a href="turma?id_turma=<%=turmas[i].TUR_ID%>&vvYpy=U" id="l<%=i%>">
					<div class="Stl_wrapper col-md-12">
						<span class="Stl_num1"><label for="name">Ano:</label> <%=turmas[i].TUR_ANO%></span>
							<% process.env.ID = turmas[i].TUR_ID %>
							<% var x = turmas[i].TUR_SERIE.toString().trim().slice(1, 2);%>
							<% if(turmas[i].TUR_SERIE.toString().trim().slice(1, 2) == '0') {%>
								<span class="Stl_num2">
									<label for="name">Série:</label> Maternal
								</span> 
							<% } else if(turmas[i].TUR_SERIE.toString().trim().slice(0, 1) == '1') { %>
								<span class="Stl_num2"><label for="name">Série:</label> 
									<%=x%>º<%=turmas[i].TUR_LETRA%> - Fundamental
								</span> 
							<% } else if(turmas[i].TUR_SERIE.toString().trim().slice(0, 1) == '2') { %>
								<span class="Stl_num2"><label for="name">Série:</label> 
									<%=x%>º<%=turmas[i].TUR_LETRA%> - Médio
								</span>
							<% } else { %>
								<div class="row"> <%=turmas[i].TUR_SERIE%> - Não Identificado</div> <% ; %>
							<% } %>
						</br>
						<span class="Stl_num3">
								<label for="name">ID:</label> <%=turmas[i].TUR_ID%>
						</span>
					</div>
				</a>
			<% } %>
		<% } %>
	</div>

<% include ../rodape.ejs %>
